header{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
  border-bottom: solid 1px;

}

.pageOptions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newBookmark{
  margin-top: 10px;
}


header h1{
  margin-bottom: 0;
}
.condensed{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  margin: 0 80px 0 80px;
  
}

hr{
  width: 75%;
}
.condensed h2{
  margin: auto;
}


#staticHeader{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 0 30px;
  margin: 0 0 0 15px;
}

#expand{
  width: 25%;
  align-self: center;
}

.expandButton{
  margin-bottom: 10px;
}

.deleteButton{
  text-align: right;
  margin-right: 10px;
}

#delete{
  font-size: 60%;
}

#expand{
  font-size: 80%
}


.formButtons{
  display: flex;
  justify-content: right;
}

#newBookmark{
  display: flex;
  flex-direction: column;
  width: 400px;
  border: solid 1px;
  padding: 20px;
}

.error-content{
  background-color: red;
  color: white;
}

.error-content p{
  margin: 0;
}

.hidden{
  display: none;
}